# Compiled object files
*.o

# Executable files
*.exe
*.out
*.app
*.dmg
*.pkg
*.ipa
*.apk

# Compiled dynamic libraries
*.so
*.dylib

# Compiled static libraries
*.a

# macOS specific files
.DS_Store

# Visual Studio Code specific files
.vscode/

# Compiled C++ executable
sudoku_solver

# Other build artifacts
build/